---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Icon from "../components/Icon.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div
			id="dot"
			class="pointer-events-none fixed z-50 h-2 w-2 rounded-full bg-orange-200"
			style="transition: transform 0.2s;"
		>
		</div>
		<Header title={SITE_TITLE} />
		<main class="p-60px p-8">
			<div class="slide-container">
				<div class="mx-auto max-w-2xl">
					<div class= "flex items-center justify-center">
						<img class= "flex items-center justify-center h-auto w-auto" src="/profile.jpg" alt="profile-image"/>
					</div>
					<div class="flex items-center my-10">
						<h2 class="text-4xl">
						<Icon
						class="icon-shake"
						icon="hand-waving"
						size="0.8em"
						color="var(--accent-light)"
						/> Hi there,
						</h2>
					</div>
					<p class="mb-7">My name is <span>Nhi Vu</span>, and I am a Computer Science student with 3 years of experience in programming. I developed a passion for developing software and applications that are innovative and impactful to both individuals and a wide range of businesses. In the past few years, I have experience working with a team on projects and maintaining an application system.</p>
					<p>During my free time, I enjoy various hobbies that contribute to bringing in new ideas, such as learning a new programming language, working on a personal project, and watching movies. I also enjoy researching on-trend topics that could enhance my skillsets and knowledge about technologies.</p>
				</div>
			</div>
		</main>
		<div
			class="slide-item"
			data-transition-duration="1.2s"
			data-transition-easing="ease"
		>
			<Footer />
		</div>
		<script>
			document.addEventListener("mousemove", (event) => {
				const dot = document.getElementById("dot");
				dot.style.transform = `translate(${event.clientX}px, ${event.clientY}px)`;
			});

			window.addEventListener("load", function () {
				const slideItems = document.querySelectorAll(".slide-item");
				slideItems.forEach(function (item, index) {
					const duration =
						item.getAttribute("data-transition-duration") || "0.5s";
					const easing =
						item.getAttribute("data-transition-easing") || "ease";
					item.style.transitionDuration = duration;
					item.style.transitionTimingFunction = easing;
					item.style.transitionDelay = `${index * 0.2}s`;
					item.classList.add("slide-in");
				});
			});
		</script>
	</body>
</html>
