---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import { SITE_TITLE } from '../consts'
import Icon from '../components/Icon.astro'
export interface Props {
  content: {
    title: string
    description: string
    createdAt?: string
    updatedAt?: string
    heroImage?: string
    tags: string[]
	code: string
	source: string
  }
}
const {
  content: { title, description, heroImage, code, source }
} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title + ` / ${SITE_TITLE}`} description={description} image={heroImage} />
  </head>

  <Body>
    <Header />
    <main class="pt-[56px] mb-10">
      <Content className="pt-6">
		<div class="mb-8">
			{
			  heroImage && (
				<img
				  class="border border-accent-gray rounded-xl"
				  width={720}
				  height={360}
				  src={heroImage}
				  alt=""
				/>
			  )
			}
		  </div>
        <h1 class="text-3xl my-1 font-bold text-sky-blue">{title}</h1>
        <div class="my-4 flex">
			<p class='mr-2'>{description}</p>
			<Icon icon="arrow-bend-right-down" size="1.1em" color="var(--accent-light)"/>
		</div>
		<div class="mb-5 indent-4">
			<slot />
		</div>
		<div class="flex pt-2 mr-auto" style="font-size: var(--text-2sm);">
			<span id='content-heading'>Stack:</span>{code}
		</div>
		<div class="flex pt-2 mr-auto" style="font-size: var(--text-2sm);">
			<span id='content-heading'>Source:</span><a href={source}><Icon icon="github-logo" size="1.1em" color="var(--accent-light)"></a>
		</div>
    </main>
    <Footer />
  </Body>
</html>
